@model IEnumerable<Store.DataAccess.ViewModels.DiscountViewModel>

@{
    ViewBag.Title = "GetDiscounts";
}

<h2>Discounts</h2>

<form action="GetDiscounts" method="get">
    <div class="col-xs-3">
        <select name="filter" class="form-control">
            <option value="IdAsc">Id ascending</option>
            <option value="IdDesc">Id descending</option>
            <option value="NameAsc">Name Ascending</option>
            <option value="NameDesc">Name Descending</option>
            <option value="ValueAsc">Value Ascending</option>
            <option value="ValueDesc">Value Descending</option>
        </select>
    </div>

    <button type="submit" class="btn btn-danger">Send</button>
</form>



<p>
    @Html.ActionLink("Create New", "AddDiscount")
</p>
<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DiscountId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DiscountId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateFrom.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTo.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value)
        </td>
    </tr>
}

</table>
